<h1>Convert <%= params.fetch(:from_currency) %> to <%= params.fetch(:to_currency) %></h1>

<p>1 <%= params.fetch(:from_currency) %> equals <%= @rate %> <%= params.fetch(:to_currency) %>.</p>

<p>Go <a href="/">back</a>.</p>
